# Python / Django
*.pyc
__pycache__/
.venv/
env/
db.sqlite3
*.log

# macOS
.DS_Store

# IDES
.vscode/
.idea/

# Node / React
node_modules/
build/
dist/

#Secrets
.env

auctionhub-Backend/.env

request.http